/* Navbar compatta */
.navbar {
  padding: 0.4rem 1rem;
}

/* Ridimensionamento del logo */
.logo {
  width: 60%;   /* puoi cambiare con 40px, 10%, ecc. */
  height: auto;  /* mantiene proporzioni */
  display: block;
}
